<!-- using ngIf in order to prevent it loading before getting book -->
<div *ngIf="book" class="row">
    <!-- using grid system -->
    <div class="col-5">
        <div class="card">
            <img class="card-img-top img-tumbnail" src="{{book.coverImageUrl}}" alt="{{book.title}}">
            <div class="card-body">
                <div style="text-align: center;">
                    <strong>Rating:</strong>
                    <p> Rating will go here:</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" (click)="addBookToModel()">Read</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-7">
        <tabset class="book-tabset">
            <tab heading='Book Details'>
                <h4><strong>{{book.title}}</strong></h4>
                <p><span *ngFor="let author of book.authors">{{author + " "}} </span></p>
                <p>{{book.description}}</p>
                <h6><strong>Category:  </strong> <a href="#">{{book.category}}</a> | 
                    <strong> Publisher:  </strong> {{book.publisher}}, {{book.year}} |
                    <strong>ISBN: </strong> {{book.isbn}}
                </h6>
                <br>
                <h4>Bar Chart will go here</h4>
                <p>Distributon of ratings by year? ie. how many people added/reviewed book by year?</p>

            </tab>
            <tab heading='Reviews'>
                <h4><strong>{{book.title}}</strong></h4>
                <p>by <span *ngFor="let author of book.authors">{{author + " "}} </span></p>
                <h6><strong>Category:  </strong> <a href="#">{{book.category}}</a> | 
                    <strong> Publisher:  </strong> {{book.publisher}}, {{book.year}} |
                    <strong>ISBN: </strong> {{book.isbn}}
                </h6>
                <h4>Add Review</h4>
                <textarea></textarea>
                <br>
                <h5>User reviews</h5>
                <div *ngFor="let review of book.reviews">
                    <h6>Review by <strong>{{review.reviewer}}</strong></h6>
                    <p>{{review.review}}</p>
                </div>
            </tab>
        </tabset>
    </div>
</div>
