<!-- using ngIf in order to prevent it loading before getting book -->
<div *ngIf="book" class="row">
    <!-- using grid system -->
    <div class="col-5">
        <div class="card">
            <img class="card-img-top img-tumbnail" src="{{book.coverImageUrl}}" alt="{{book.title}}">
            <div class="card-body">
                <div style="text-align: center;">
                    <strong>Rating:</strong>
                    <p> Rating will go here:</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" (click)="addBookToModel()">Read</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-7">
        <tabset class="book-tabset">
            <tab heading='Book Details'>
                <h4><strong>{{book.title}}</strong></h4>
                <p><span *ngFor="let author of book.authors">{{author + " "}} </span></p>
                <p>{{book.description}}</p>
                <h6><strong>Category:  </strong> <a href="#">{{book.category}}</a> | 
                    <strong> Publisher:  </strong> {{book.publisher}}, {{book.year}} |
                    <strong>ISBN: </strong> {{book.isbn}}
                </h6>
                <br>
                <h4>Book rating distribution</h4>
                <br>
                <ngx-charts-bar-vertical
                    [results]="seedData"
                    [xAxisLabel]="'Stars'"
                    [legendTitle]="'Rating distribution chart'"
                    [yAxisLabel]="'Ocurances'"
                    [legend]="false"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [yAxisTickFormatting]= "formatNumbers"
                    [gradient]="false"
                    [animations]="false"
                    [tooltipDisabled]="true"
                    [yScaleMax] = 5
                    [yScaleMin] = 0
                    [maxXAxisTickLength] = 5
                    [trimXAxisTicks] = "false"
                    >
                </ngx-charts-bar-vertical>
            </tab>
            <tab heading='Reviews'>
                <h4><strong>{{book.title}}</strong></h4>
                <p>by <span *ngFor="let author of book.authors">{{author + " "}} </span></p>
                <h6><strong>Category:  </strong> <a href="#">{{book.category}}</a> | 
                    <strong> Publisher:  </strong> {{book.publisher}}, {{book.year}} |
                    <strong>ISBN: </strong> {{book.isbn}}
                </h6>
                <div>
                    <form #formEdit="ngForm" class="mb-2" (ngSubmit)="reviewAddAndUpdate()">
                        <div>
                        <h4>Add Review</h4>
                        <textarea [(ngModel)]="newReview" name="review" rows="5" class="form-control"></textarea>
                        </div>
                        <br>
                        <button class="btn-success form-control">Add Review</button>
                        <br>
                    </form>
                    <h5>User reviews</h5>
                    <div *ngFor="let review of book.reviews">
                        <h6>Review by <strong>{{review.reviewer}}</strong></h6>
                        <p>{{review.review}}</p>
                    </div>

                </div>
                
            </tab>
        </tabset>
    </div>
</div>
