
<div class="inline mb-2">
    <form>
        <select (change)="changeCategory($event)" class="form-select" [(ngModel)]="newCategories" name="selectedOption">
            <option [ngValue]="null">All Categories</option>
            <option  *ngFor="let category of bookCategories">{{category}} </option>
        </select>
        <button  (click)="filterByCategory()" type="submit" class="btn-success ml-2">Filter</button>


        <input name="searchInput" id="searchInput" type="text" class="ml-4" placeholder="Search by Author or Title">
        <button   type="submit" class="btn-success ml-2">Search</button>
    </form>
    
</div>
<div class="row">
    <!-- 2 columns per user out of 12 bootstrap columns -->
    <div *ngFor="let book of books" class="col-3" >
        <!-- display each book in own card -->
        <app-book-card [book]="book"></app-book-card>
    </div>
</div>