<form #registrationForm="ngForm" autocomplete="off" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Register</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username"
        [(ngModel)]="model.username" name="username">  
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password"
        [(ngModel)]="model.password" name="password">  
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-secondary mr-2" type="submit" (click)="cancelRegister()">Cancel</button>
    </div>
</form>