<form [formGroup]="registrationForm" autocomplete="off" (ngSubmit)= "registrationForm.valid && register()">
    <h2 class="text-center text-primary">Register</h2>
    <hr>
    <app-input-text [formControl]='registrationForm.controls["username"]' 
        [label]='"Username"'></app-input-text>
    <app-input-text [formControl]='registrationForm.controls["password"]' 
        [label]='"Password"' [type]='"password"'>
    </app-input-text>
    <app-input-text [formControl]='registrationForm.controls["passwordConfirm"]' 
        [label]='"Password Confirm"' [type]='"Password"'>
    </app-input-text>
    <div class="row mt-1" *ngIf="validationErr.length > 0">
        <ul class="text-danger">
            <li *ngFor="let err of validationErr">
                {{err}}
            </li>
        </ul>
    </div>    


    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit" [disabled]="!registrationForm.valid">Register</button>
        <button class="btn btn-secondary mr-2" type="submit" (click)="cancelRegister()">Cancel</button>
    </div>
</form>

<!-- <p>Form value:  {{registrationForm.value | json}}</p>
<p>Form value:  {{registrationForm.status | json}}</p> -->