<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/'>Tech Reads</a>
          <ul class="navbar-nav mr-auto">
            <!-- ng-container is a recomended way to use when using 
              conditionals because it does not interfere 
              with styling as it does not generate any html -->
            <ng-container *ngIf="accountService.currentUser$ | async">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' routerLink='/books' >Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' routerLink='/users'>Fellow Readers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' routerLink='/lists'>My Books</a>
              </li>
            </ng-container>
          </ul>

          <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
            <a class="dropdown-toggle text-light ml-3" dropdownToggle>Welcome {{user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
              <a class="dropdown-item" routerLink="/user/edit">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Log Out</a>
            </div>
          </div>

          <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" 
            (ngSubmit)="login()" autocomplete="off">
            <input
                name="username"
                [(ngModel)]="model.username" 
                class="form-control mr-sm-2" 
                type="text" 
                placeholder="Username">
            <input
            name="password"
            [(ngModel)]="model.password" 
            class="form-control mr-sm-2" 
            type="password" 
            placeholder="Password">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
          </form>
    </div>
  </nav>