<div class="card mb-4">
    <div class="card-img-wrapper">
        <img class="card-img-top" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
        <ul class="list-inline animation user-icons text-center">
            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink='/users/{{user.id}}'><i class="fa fa-user"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-2">
        <h5 class="card-title text-center mb-2"><i class="fa fa-user mr-2"></i>
            {{user.username}}
        </h5>
    </div>
</div>