.card:hover img {
    transform: scale(1.3, 1.3);
    transition-duration: 600ms;
    transition-timing-function: ease-out;
    opacity: 0.6;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 600ms;
    transition-timing-function: ease-out;
    opacity: 1.0;

}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.user-icons {
    position:absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-right: auto;
    opacity: 0;
}

.card-img-wrapper:hover .user-icons {
    bottom: 0;
    opacity: 1.0;
}

.animation {
    transition: all 0.4s;
}